<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73732707249-nch7gpnrbgg11hnnku6v3p5hldmg99uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73732707249-nch7gpnrbgg11hnnku6v3p5hldmg99uo</string>
	<key>API_KEY</key>
	<string>AIzaSyAvoiegSmvO4lw0PJLhDuERSCG1vKEx390</string>
	<key>GCM_SENDER_ID</key>
	<string>73732707249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.codeexceptional.FastlaneTemplate</string>
	<key>PROJECT_ID</key>
	<string>fastlanetemplate</string>
	<key>STORAGE_BUCKET</key>
	<string>fastlanetemplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73732707249:ios:917442185bc3e7d1c32390</string>
</dict>
</plist>